<div class="calc-service">
    <div class="calc-service__left">
        <div class="calc-service__tabs">
            <div class="calc-service__tab calc-service__tab--active" data-tab-path="1">Справа</div>
            <div class="calc-service__tab" data-tab-path="2">Слева</div>
            <div class="calc-service__tab" data-tab-path="3">Спереди</div>
            <div class="calc-service__tab" data-tab-path="4">Сзади</div>
            <div class="calc-service__tab" data-tab-path="5">Сверху</div>
        </div>
        <div class="calc-service__img">
            <img class="calc-service__img-shadow" src="img/shadow2.svg" alt="">
            <div class="calc-service__img-car calc-service__img-car--active" data-tab-path="1">
                <img src="img/car2.png" alt="">
                <span style="top: 35%; left: 22%;" class="calc-service__img-marker"></span>
            </div>
            <div class="calc-service__img-car" data-tab-path="2">
                <span style="top: 35%; left: 22%;" class="calc-service__img-marker"></span>
                <img src="img/car.png" alt="">
            </div>
            <div class="calc-service__img-car" data-tab-path="3">
                <span style="top: 35%; left: 22%;" class="calc-service__img-marker"></span>
                <img src="img/car2.png" alt="">
            </div>
            <div class="calc-service__img-car" data-tab-path="4">
                <span style="top: 35%; left: 22%;" class="calc-service__img-marker"></span>
                <img src="img/car.png" alt="">
            </div>
            <div class="calc-service__img-car" data-tab-path="5">
                <span style="top: 35%; left: 22%;" class="calc-service__img-marker"></span>
                <img src="img/car2.png" alt="">
            </div>
        </div>
    </div>
    <div class="calc-service__right">
        <div class="calc-service__group">
            <div class="calc-service__group-title">@@title</div>
            <div class="calc-service__group-items">
                <div class="calc-service__group-item check">
                    <input type='checkbox' class='checkbox' data-alert-id="@@id1" data-alert-title="@@title" data-alert-desc="Полировка" data-alert-price="3000" data-alert-days="2" />
                    <label>
                       <strong>Полировка</strong>
                       <span>+ 3 000 руб., 2 дня</span>
                    </label>
                </div>
                <div class="calc-service__group-item check">
                    <input type='checkbox' class='checkbox' data-alert-id="@@id2" data-alert-title="@@title" data-alert-desc="Покраска" data-alert-price="3000" data-alert-days="2" />
                    <label>
                       <strong>Покраска</strong>
                       <span>+ 3 000 руб., 2 дня</span>
                    </label>
                </div>
                <div class="calc-service__group-item check">
                    <input type='checkbox' class='checkbox' data-alert-id="@@id3" data-alert-title="@@title" data-alert-desc="Лёгкий ремонт и покраска" data-alert-price="3000" data-alert-days="2" />
                    <label>
                       <strong>Лёгкий ремонт и покраска</strong>
                       <span>+ 3 000 руб., 2 дня</span>
                    </label>
                </div>
                <div class="calc-service__group-item check">
                    <input type='checkbox' class='checkbox' data-alert-id="@@id4" data-alert-title="@@title" data-alert-desc="Несложный ремонт и покраска" data-alert-price="3000" data-alert-days="2" />
                    <label>
                       <strong>Несложный ремонт и покраска</strong>
                       <span>+ 3 000 руб., 2 дня</span>
                    </label>
                </div>
                <div class="calc-service__group-item check">
                    <input type='checkbox' class='checkbox' data-alert-id="@@id5" data-alert-title="@@title" data-alert-desc="Сложный ремонт и покраска" data-alert-price="3000" data-alert-days="2" />
                    <label>
                       <strong>Сложный ремонт и покраска</strong>
                       <span>+ 3 000 руб., 2 дня</span>
                    </label>
                </div>
                <div class="calc-service__group-item check">
                    <input type='checkbox' class='checkbox' data-alert-id="@@id6" data-alert-title="@@title" data-alert-desc="Замена и покраска" data-alert-price="3000" data-alert-days="2" />
                    <label>
                       <strong>Замена и покраска</strong>
                       <span>+ 3 000 руб., 2 дня</span>
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>