<h2 class="gallery__title display2">
    <span>Галерея сервиса</span> и оборудования
</h2>

<div class="gallery__slider">
    <div class='swiper-container'>
        <div class='swiper-wrapper'>
            <div class='swiper-slide gallery__item'>
                <img src="img/gallery.webp" alt="">
                <span class="gallery__item-title">полировка поможет, если фары пожелтели, стали мутными и на их поверхности образовались царапины</span>
            </div>
            <div class='swiper-slide gallery__item'>
                <img src="img/gallery2.webp" alt="">
                <span class="gallery__item-title">Полировка, выполненная в автосервисе, долговечна, качественна и надежна</span>
            </div>
            <div class='swiper-slide gallery__item'>
                <img src="img/gallery.webp" alt="">
                <span class="gallery__item-title">Полировка поможет, если фары пожелтели, стали мутными и на их поверхности образовались царапины</span>
            </div>
            <div class='swiper-slide gallery__item'>
                <img src="img/gallery2.webp" alt="">
                <span class="gallery__item-title">Полировка, выполненная в автосервисе, долговечна, качественна и надежна</span>
            </div>
        </div>
    </div>
    <div class='swiper-button-prev'>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9999 5L7.99988 12L14.9999 19" stroke="#CCD1DC" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    <div class='swiper-button-next'>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5L16 12L9 19" stroke="#CCD1DC" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>