<div class='container'>
    <h2 class="profi__title display2">
        <span>Лучшие</span> специалисты
    </h2>
    <div class='profi__inner'>
        <div class='swiper-button-prev'>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.9999 5L7.99988 12L14.9999 19" stroke="#CCD1DC" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class='swiper-container'>
            <div class='swiper-wrapper'>
                <div class='swiper-slide'>
                    <div class="profi__item-img">
                        <img src="img/profi.webp" alt="">
                    </div>
                    <div class="profi__item-title">Анатолий Александрович</div>
                    <div class="profi__item-desc">Мастер-приёмщик, опыт работы 8 лет</div>
                </div>
                <div class='swiper-slide'>
                    <div class="profi__item-img">
                        <img src="img/profi2.webp" alt="">
                    </div>
                    <div class="profi__item-title">Марк Владиславович</div>
                    <div class="profi__item-desc">Мастер-приёмщик, опыт работы 8 лет</div>
                </div>
                <div class='swiper-slide'>
                    <div class="profi__item-img">
                        <img src="img/profi3.webp" alt="">
                    </div>
                    <div class="profi__item-title">Виктория Андреева</div>
                    <div class="profi__item-desc">Мастер-приёмщик, опыт работы 8 лет</div>
                </div>
                <div class='swiper-slide'>
                    <div class="profi__item-img">
                        <img src="img/profi4.webp" alt="">
                    </div>
                    <div class="profi__item-title">Василий Якович</div>
                    <div class="profi__item-desc">Мастер-приёмщик, опыт работы 8 лет</div>
                </div>
                <div class='swiper-slide'>
                    <div class="profi__item-img">
                        <img src="img/profi.webp" alt="">
                    </div>
                    <div class="profi__item-title">Анатолий Александрович</div>
                    <div class="profi__item-desc">Мастер-приёмщик, опыт работы 8 лет</div>
                </div>
            </div>
        </div>
        <div class='swiper-button-next'>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 5L16 12L9 19" stroke="#CCD1DC" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
</div>