<div class='container'>
    <div class='sale__inner'>
        <div class="sale__slider">
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide sale__item'>
                        <div class="sale__item-badge">Акция!</div>
                        <div class="sale__item-subtitle">Детейлинг со скидкой в 50%</div>
                        <div class="sale__item-title">Специальное предложение для новых авто: комплекс полировка, антигравийная плёнка и детейлинг-комплексы со скидкой</div>
                        <div class="sale__item-desc">Акция до 28.03.2022. Осталось два дня до окончания акции!</div>
                    </div>
                    <div class='swiper-slide sale__item'>
                        <div class="sale__item-badge">Акция!</div>
                        <div class="sale__item-subtitle">Детейлинг со скидкой в 50%</div>
                        <div class="sale__item-title">Специальное предложение для новых авто: комплекс полировка, антигравийная плёнка и детейлинг-комплексы со скидкой</div>
                        <div class="sale__item-desc">Акция до 28.03.2022. Осталось два дня до окончания акции!</div>
                    </div>
                </div>
            </div>
            <div class="sale__bottom">
                <button class="sale__btn btn btn-green" data-bs-toggle="modal" data-bs-target="#modal">Получить комерческое предложение</button>
                <div class="sale__nav">
                    <div class='swiper-button-prev'>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9999 5L7.99988 12L14.9999 19" stroke="#CCD1DC" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class='swiper-button-next'>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5L16 12L9 19" stroke="#CCD1DC" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <img src="img/sale.webp" alt="" class="sale__img">
    </div>
</div>