<div class='container'>
    <div class='services__top'>
        <h2 class="services__title display2">
            <span>Полный комплекс услуг</span> по ремонту и покраске автомобилей
        </h2>
        <div class="services__nav">
            <div class="services__nav-title">Стоимость работ зависит от марки и модели автомобиля</div>
            <div class="services__selects">
                <div class="services__select">
                    <select>
                        <option selected="" hidden="">Выберите модель</option>
                        <option value="">модель</option>
                        <option value="">модель 2</option>
                        <option value="">модель 3</option>
                    </select>
                </div>
                <div class="services__select">
                    <select>
                        <option selected="" hidden="">Выберите марку </option>
                        <option value="">марка</option>
                        <option value="">марка 2</option>
                        <option value="">марка 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="services__tabs">
        <div class="services__tab services__tab--active" data-tab-path="1">Локальный ремонт</div>
        <div class="services__tab" data-tab-path="2">Покраска</div>
        <div class="services__tab" data-tab-path="3">Жестяные работы</div>
        <div class="services__tab" data-tab-path="4">Замена</div>
        <div class="services__tab" data-tab-path="5">Ремонт бампера</div>
        <div class="services__tab" data-tab-path="6">Полировка</div>
        <div class="services__tab" data-tab-path="7">Слесарные работы</div>
        <div class="services__tab" data-tab-path="8">Техническое обслуживание</div>
    </div>
    <div class="services__content services__content--active" data-tab-path="1">
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Бампер передний</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Порог</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 300 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Крыло переднее</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Багажник</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Крыло заднее</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">8 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Решётка радиатора</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">3 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Бампер задний</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Крыша</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">11 000 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Капот</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">9 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Дверь</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">8 000 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Зеркало</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">2 000 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Весь автомобиль</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">100 000 руб</span>
        </div>
    </div>
    <div class="services__content" data-tab-path="2">
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Зеркало</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">2 000 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Весь автомобиль</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">100 000 руб</span>
        </div>
    </div>
    <div class="services__content" data-tab-path="3">
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Капот</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">9 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Дверь</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">8 000 руб</span>
        </div>
    </div>
    <div class="services__content" data-tab-path="4">
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Бампер задний</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Крыша</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">11 000 руб</span>
        </div>
    </div>
    <div class="services__content" data-tab-path="5">
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Крыло заднее</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">8 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Решётка радиатора</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">3 500 руб</span>
        </div>
    </div>
    <div class="services__content" data-tab-path="6">
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Крыло переднее</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Багажник</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 500 руб</span>
        </div>
    </div>
    <div class="services__content" data-tab-path="7">
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Бампер передний</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 500 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Порог</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">7 300 руб</span>
        </div>
    </div>
    <div class="services__content" data-tab-path="8">
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Зеркало</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">2 000 руб</span>
        </div>
        <div class="services__item">
            <div class="services__item-left">
                <span class="services__item-title">Весь автомобиль</span>
                <span class="services__item-hint" tooltip="Текст с подсказкой">?</span>
            </div>
            <span class="services__item-price">100 000 руб</span>
        </div>
    </div>

    @@include('_button.html',{"class":"services__btn","modal":"true"})
</div>