<div class='container'>
    <h2 class="why__title display2">
        <span>Почему удобно ремонтировать</span> автомобиль у нас?
    </h2>
    <div class='why__items'>
        <div class="why__item">
            <div class="why__item-icon">
                <div class="why__item-img">
                    <img src="img/why.svg" alt="">
                </div>
            </div>
            <div class="why__item-title">Соблюдение сроков</div>
            <div class="why__item-desc">Мы гарантируем соблюдение сроков ремонта автомобиля</div>
        </div>
        <div class="why__item">
            <div class="why__item-icon">
                <div class="why__item-img">
                    <img src="img/why2.svg" alt="">
                </div>
            </div>
            <div class="why__item-title">Безопасность в эксплуатации авто</div>
            <div class="why__item-desc">Полное восстановление геометрии кузова и устранение внутренних повреждений автомобиля, возникших в результате ДТП
            </div>
        </div>
        <div class="why__item">
            <div class="why__item-icon">
                <div class="why__item-img">
                    <img src="img/why3.svg" alt="">
                </div>
            </div>
            <div class="why__item-title">Работаем ежедневно</div>
            <div class="why__item-desc">Мы работаем для вас 7 дней в неделю и готовы в любой момент рассчитать стоимость работ и провести ремонт вашего авто</div>
        </div>
        <div class="why__item">
            <div class="why__item-icon">
                <div class="why__item-img">
                    <img src="img/why4.svg" alt="">
                </div>
            </div>
            <div class="why__item-title">100% попадание в цвет</div>
            <div class="why__item-desc">Профессионализм наших специалистов по подбору краски гарантирует идеальное соответствие покрытия с базовым цветом
            </div>
        </div>
        <div class="why__item">
            <div class="why__item-icon">
                <div class="why__item-img">
                    <img src="img/why5.svg" alt="">
                </div>
            </div>
            <div class="why__item-title">Эвакуация</div>
            <div class="why__item-desc">В случае, если ваше авто не на ходу, мы оперативно доставим ваше авто в наш сервис для проведения ремонтных работ, стоимость эвакуации в пределах МКАД - от 2500 руб</div>
        </div>
        <div class="why__item">
            <div class="why__item-icon">
                <div class="why__item-img">
                    <img src="img/why6.svg" alt="">
                </div>
            </div>
            <div class="why__item-title">Все виды услуг</div>
            <div class="why__item-desc">У нас Вы можете сделать ТО, пройти бесплатную комплексную диагностику поменять масло, колодки, шиномонтаж, и многое другое</div>
        </div>
    </div>
    <div class="why__info">
        <div class="why__info-left">
            <h3 class="why__info-title display2">
                <span>Собственная лаборатория</span> по подбору цвета
            </h3>
            <div class="why__info-desc"> Для детейлинга мы используем высокотехнологичное оборудование, которого на обычных мойках попросту нет. Эксцентриковые полировочные машинки различных конфигураций и размеров, которые не оставляют "голограмм" на кузове, моющие пылесосы, паровые
                очистители, озонаторы воздуха - с помощью всего этого мы добиваемся того ,что после полного детейлинга автомобиль выглядит лучше чем когда выехал из салона. Мы приводим его в первозданное состояние или даже лучше. Также мы владеем технологией
                восстановления пластика внутри салона и снаружи автомобиля. Зацарапанные пластиковые детали мы можем восстановить до идеального состояния. Лакированные элементы внутри салона также выполировываются до блеска. </div>
            <div class="why__info-item">
                <span class="why__info-name">Подбор цвета: </span>
                <span class="why__info-price"> от 5 000 руб</span>
            </div>
            <div class="why__info-item">
                <span class="why__info-name">Стоимость 100 мл краски: </span>
                <span class="why__info-price"> 700 руб</span>
            </div>
            @@include('_button.html',{"class":"why__btn","modal":"true"})
        </div>
        <div class="why__img">
            <img src="img/why.webp" alt="">
        </div>
    </div>
</div>