<div class='container'>
    <h2 class="yur__title display2">
        Работаем с
        <span>юридическими лицами</span>
    </h2>
    <div class="yur__desc">Выполняем кузовные работы для страховых компаний, автодилеров и владельцев <br> автопарков по договору подряда</div>
    <div class='yur__inner'>
        <div class='swiper-container'>
            <div class='swiper-wrapper'>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur2.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur3.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur4.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur5.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur6.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur2.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur3.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur4.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur5.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur6.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur5.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur6.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur5.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur6.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur2.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur3.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur4.webp" alt="">
                    </div>
                </div>
                <div class='swiper-slide yur__col'>
                    <div class="yur__item">
                        <img src="img/yur5.webp" alt="">
                    </div>
                    <div class="yur__item">
                        <img src="img/yur6.webp" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class='swiper-button-prev'>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.9999 5L7.99988 12L14.9999 19" stroke="#CCD1DC" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class='swiper-button-next'>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 5L16 12L9 19" stroke="#CCD1DC" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    <button class="yur__btn btn btn-green" data-bs-toggle="modal" data-bs-target="#modal">Получить комерческое предложение</button>
    <button class="yur__download btn">
        <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.9165 13.501H1.08787C0.757157 13.501 0.488281 13.772 0.488281 14.1006V14.9007C0.488281 15.2314 0.759277 15.5003 1.08787 15.5003H11.9122C12.2429 15.5003 12.5117 15.2293 12.5117 14.9007V14.1006C12.5182 13.7677 12.2472 13.501 11.9165 13.501Z" fill="black"/>
            <path d="M6.08291 12.4275C6.20028 12.5448 6.35391 12.6046 6.50539 12.6046C6.65901 12.6046 6.81264 12.5448 6.92786 12.4275L11.0289 8.32646C11.2614 8.0939 11.2614 7.7141 11.0289 7.47724L10.4613 6.90967C10.2287 6.67708 9.8489 6.67708 9.61207 6.90967L7.50396 9.01993V1.09959C7.50396 0.768848 7.23297 0.5 6.9044 0.5H6.10425C5.77354 0.5 5.50466 0.7667 5.50466 1.09959V9.02205L3.39443 6.91179C3.16184 6.67923 2.77992 6.67923 2.54521 6.91179L1.97764 7.47936C1.74508 7.71192 1.74508 8.09387 1.97764 8.32858L6.08291 12.4275Z" fill="black"/>
        </svg>
        <span>Скачать типовой договор</span>
    </button>
</div>